[buildout]
develop = .
parts =
    test
    py
    sphinx

[test]
recipe = zc.recipe.testrunner
eggs = zope.structuredtext

[py]
recipe = zc.recipe.egg
eggs = zope.structuredtext
interpreter = py

[sphinx]
recipe = zc.recipe.egg
eggs =
    Sphinx
    zope.structuredtext
